@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

body {
}

.home-gradient {
    background: rgb(97,150,244);
    background: linear-gradient(180deg, rgba(97,150,244,1) 0%, rgba(82,166,236,1) 41%, rgba(56,177,203,1) 100%);
}

.navbar-gradient {
    background: rgb(97,150,244);
    background: linear-gradient(180deg, rgba(97,150,244,1) 0%, rgba(82,166,236,1) 41%, rgba(110,210,232,1) 100%);
}

.medbase-font {
    font-family: 'Montserrat', sans-serif;
}