@{
    ViewData["Title"] = "Download Medbase App";
    ViewData["Description"] = "Offline MCQs through the Medbase Android Application"; 
    ViewData["Thumbnail"] = "http://medbase.co.zw/img/medbase_plain.jpeg";
}
<header class="bg-white py-5 medbase-font">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-6 col-xl-6 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-dark mb-2">
                        Download Medbase
                    </h1>
                    <p class="lead fw-normal text-muted mb-0">
                        No data? No problem. Medbase is now available as mobile application for Android currently. Windows desktop application coming soon so watch out😁
                    </p>
                    <a class="btn btn-primary" href="https://onedrive.live.com/download?cid=A2C6A8F21926A395&resid=A2C6A8F21926A395%2123123&authkey=AK-OOQcSd2Yil24">Android Download</a>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-6 text-center">
                <img class="img-fluid rounded-3 my-5"
                     src="~/img/deviceframes.png" alt="..." />
            </div>
        </div>
    </div>
</header>