@{
}

<div class="alert alert-primary alert-dismissible fade show m-2 align-content-center" role="alert">
    <strong>Medbase Offline is here!!!</strong> 
        We are happy to announce that the Medbase mobile application is finally out. <a asp-controller="Home" asp-action="Downloads">Download it here</a> Only available on Android.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
